body {
  background-color: #E4E7E7;
   padding: 25px 50px;
}


.title{ 
     margin-bottom: 10px; 
     text-align:center; 
     width: 1000px; 
     height: 65px;
     color:white; 
     border: solid black 2px; 
     font-size: 40px;
     margin-left: 100px;
     background-color:#535675;
   } 



 
   
  
         input[type="button"] 
         { 
         background-color:#535675; 
         color: white; 
         border: solid black 2px; 
         width:300px;
         height: 100px;
         font-size: 25px;
             
         } 
  
         input[type="text"] 
         { 
         background-color:white; 
         border: solid black 2px; 
         width:900px;
         height: 60px;
         margin-left: 40px;
         font-size: 20px;
             
}