.title{ 
     margin-bottom: 10px; 
     text-align:center; 
     width: 1300px; 
     height: 65px;
     color:blue; 
     border: solid black 2px; 
     font-size: 200%;
     margin-left: 100px;
   } 

.content{
  width: 100%;
}


 
   
  
         input[type="button"] 
         { 
         background-color:#EEF7F8; 
         color: black; 
         border: solid black 2px; 
         width:400px;
         height: 100px;
         font-size: 20px;
             
         } 
  
         input[type="text"] 
         { 
         background-color:white; 
         border: solid black 2px; 
         width:1100px;
         height: 60px;
         margin-left: 40px;
         font-size: 20px;
             
         } 

