body {
  background-color: #E4E7E7;
   padding: 15px 35px;
}

.title{ 
     margin-bottom: 10px; 
     text-align:center; 
     width: 800px; 
     height: 100px;
     color:white; 
     border: solid black 2px; 
     font-size: 50px;
     margin-left: 30px;
     background-color:#535675;
   } 


   
  
         input[type="button"] 
         { 
         background-color:#535675; 
         color: white; 
         border: solid black 2px; 
         width:200px;
         height: 200px;
         font-size: 50px;
             
         } 
  
         input[type="text"] 
         { 
         background-color:white; 
         border: solid black 2px; 
         width:600px;
         height: 100px;
         margin-left: 10px;
         font-size: 30px;
             
         } 