.title{ 
     margin-bottom: 10px; 
     text-align:center; 
     width: 900px; 
     height: 65px;
     color:blue; 
     border: solid black 2px; 
     font-size: 200%;
     margin-left: 30px;
   } 


 
   
  
         input[type="button"] 
         { 
         background-color:green; 
         color: black; 
         border: solid black 2px; 
         width:300px;
         height: 20px;
         font-size: 30px;
             
         } 
  
         input[type="text"] 
         { 
         background-color:white; 
         border: solid black 2px; 
         width:5px;
         height: 60px;
         margin-left: 10px;
         font-size: 16px;
             
         } 