/* make all buttons 20 by 20 pixels with white text and green background and a 10 pixel margin */
button { width: 250px; height: 75px; background: blue; color: white; margin: 10px; }


/* make all tags with the "title" class name have blue text */
.title { margin-left: 75px }


#code {margin-left: 20px;  width: 620px; height: 75px;}
#add_content {margin-top: 10px; margin-left: 30px}
#add {background: grey; width: 250px; height: 40px;}
#cancel{background: grey; width: 250px; height: 40px;}

#is_0{background: grey; width: 200px; height: 75px} 
#is_1{background: grey; width: 200px; height: 75px} 
#is_2{background: grey; width: 200px; height: 75px} 
#is_3{background: grey; width: 200px; height: 75px} 
#is_4{background: grey; width: 200px; height: 75px} 
#is_5{background: grey; width: 200px; height: 75px} 
#is_6{background: grey; width: 200px; height: 75px} 
#is_7{background: grey; width: 200px; height: 75px} 
#is_8{background: grey; width: 200px; height: 75px} 
#is_9{background: grey; width: 200px; height: 75px} 
#is_pound{background: grey; width: 200px; height: 75px} 
#Dial_keypad{background: grey; width: 200px; height: 75px}

.contacts_list{background: grey; width: 100px; height: 40px} 